body {
    background-color: brown;
}

.albunsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 800px;
}
.album{

    width:200px;
}
.searchBar{
    background-color:gray;
}
.divSearch{
    display: flex;
    position: sticky;
    background-color: black;
    height:50px;
    opacity: 80;
}