body {
    background-color: brown;
}

.albunsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1500px;
}
.divInput {
    display:flex;
    align-items:center;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.25);
    height: 50px;
    width:3000px;
}
.album {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}
.imgNode {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}
.searchBar {
    background-color: rgba(255, 216, 0,0.5);
}
.divSearch{
    display: flex;
    position: sticky;
    background-color: black;
    height:50px;
    opacity: 80;
}

@media screen and (max-width: 300px) {

    .imgNode {
        width: 500px;
    }
}
